#set($client = ${system.applications.client})
#set($environment = ${system.environments.dev})
#set($host = ${system.hosts.local})
#set($server = ${system.applications.server})

notApplicable=${system.notApplicable}