
com.brambolt.version=${bramboltVersion}

some.example.system.applications.listing=client,server

some.example.system.environments.listing=dev,test

some.example.system.hosts.listing=local,remote

some.example.system.name=Example

# Check that empty values are handled correctly -
some.example.system.notApplicable=

some.example.system.version=${version}