
some.example.system.targets.listing=local,remote

some.example.system.targets.local.environment.name=dev
some.example.system.targets.local.host.name=local
some.example.system.targets.local.name=local

some.example.system.targets.remote.environment.name=test
some.example.system.targets.remote.host.name=remote
some.example.system.targets.remote.name=remote
