environmentProperty1=${environment.property1}
constantProperty2=constant
clientProperty3=${client.property3}
serverProperty4=${server.property4}
hostProperty5=${host.property5}
systemVersion=${system.version}